#root{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #1c1a1a;
}

.linerBorder{
  border-image: linear-gradient(130deg, rgba(254,35,0,1) 11%, rgba(255,80,52,1) 35%, rgba(74,6,255,1) 53%) 1;
  border-width: 2px;
  border-style: solid;
  boreder-radius: 0.5rem;
  padding: 1rem;
}